<h1>{{showingUser.username}}</h1>
<h2>{{showingUser.role}}</h2>

{{!-- Edit should only be usable by the owner --}}
{{#if loggedUserOwnsTheAccount}}
<form action="/users/edit/{{showingUser._id}}" method="post" >
  <button type="submit"> Edit this user </button>
</form>
{{/if}}


{{!-- only boss should be able to delete --}}
{{#if loggedUserRoleIsBOSS}}
  {{!-- but not even the BOSS is BOSS enough to delete the BOSS --}}
  {{#unless thisIsTheBossAccount}}
  <form action=`/users/delete/{{showingUser._id}}` method="post" >
    <button type="submit"> Delete {{this.username}} from the roster </button>
  </form>
  {{/unless}}
{{/if}}

<br><br>

<div>
  you can <a href="/">Go Home</a> or <a href="/logout">Logout</a>
</div>

